# fetch_config/validate_config/setup_session should result in an ssh config that looks like this
Host insulauditor
  Compression no
  User insulaudit
  Hostname bewest.io # arranged in earlier steps, wherever remote daemon is running
  # stitch local socat port to remote port arranged in fetch_config/validate_config/setup_session
  LocalForward 4142 localhost:4142  # eg $port
  # point to a key
  # IdentityFile $id_file
  # depending on "login shell" may not be needed
  # ProxyCommand ssh %h run_stick $port